---

// IMPORT ATOMS
import ButtonOutlined from "@/atoms-diksha/buttons/outlined/index.astro"
import HeadingTwoSixXlBlack from "@/atoms-diksha/headings/two/6xl/black/primary/index.astro"
import HeadingSixPrimary from "@/atoms-diksha/headings/six/primary/index.astro"
import ParagraphExtralightPrimary from "@/atoms-diksha/paragraphs/extralight/primary/index.astro"
import Picture from "@/atoms-diksha/picture/index.astro"

const about_us = {
    title:"We design visual solutions for greater impact",
    subtitle:"About our design agency",
    description1:"Founded in 2013, The Beacon Design Collective is an award-winning creative agency offering its services exclusively to organizations in the sustainability and social justice sectors. We’re not just a design agency. We share a common trait with our clients: our passion for social justice and sustainability. As a carbon-negative company with a diverse and inclusive team, we are a values-aligned partner for our clients.",
    description2:"We create brands and help them communicate better and grow stronger through our strategic design expertise. We offer a comprehensive range of services – from branding to strategic campaigns to graphic design– all tailored to support your mission of making a lasting, positive impact on the world.",
    buttonText:"About us"
}

---

<section class="lg:px-16 lg:py-24 px-6 py-12">
    <div class="flex flex-col gap-6 lg:flex-row justify-between items-center">
        <div class="relative">
            <div class="w-full">
                <Picture image_source="/images/about-us-2.png" image_alt=""/>
            </div>
            <div class="hidden xl:block absolute top-20 -right-40 -z-10">
                <Picture image_source="/images/about-us-1.png" image_alt=""/>
            </div>
        </div>
    <div class="lg:w-1/2 flex flex-col gap-6">
        <div class="flex gap-6 items-center">
            <hr class="w-16 border-t-2 border-color-secondary"/>
            <HeadingSixPrimary>{ about_us.subtitle }</HeadingSixPrimary>
        </div>
        <HeadingTwoSixXlBlack>
            { about_us.title }
            <span class="text-color-secondary">.</span>
        </HeadingTwoSixXlBlack>
        <ParagraphExtralightPrimary>{ about_us.description1 }</ParagraphExtralightPrimary>
        <ParagraphExtralightPrimary>{ about_us.description2 }</ParagraphExtralightPrimary>
        <div>
            <ButtonOutlined>
                <a href="$" class="underline hover:no-underline uppercase">{ about_us.buttonText }</a>  
                <span class="no-underline">↗︎</span>
            </ButtonOutlined>
        </div>
    </div>
</section>
